<header class="shadow">
  <div class="flex justify-between py-4 max-w-screen-xl mx-auto">
    <h1 class="text-xl font-bold">
      Where in the world!
    </h1>
    <div>
    Dark Mode
    </div>
  </div>
</header>
<main>
  <div class="mx-auto max-w-screen-xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
